@model filmweb.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<script rel="stylesheet" src="~/js/angular-1.1.5.js"></script>
<script rel="stylesheet" src="/node_modules/angular-smart-table/dist/smart-table.js"></script>


<div class="text-center">
    <h1 class="display-4">Фильмы</h1>
    <div ng-app="tableapp" ng-controller="filmsCtrl">
        <table st-table="films" class="table table-striped table-bordered">
            <thead class="thead-dark table-hover text-center">
                <tr>
                    <th ng-click='sortColumn("id")'>#</th>
                    <th ng-click='sortColumn("name")'>Название</th>
                    <th class="text-center">Жанр</th>
                    <th class="text-center">Режиссёр</th>
                    <th class="text-center">Актёры</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in films" class="ng-scope" onclick="window.location.href='/film/{{item.id}}'; return false">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }} </td>
                    <td ng-repeat="genre in item.genres">{{ genre }} </td>
                    <td ng-repeat="produser in item.produsers">{{ produser }} </td>
                    <td ng-repeat="actor in item.actors">{{ actor }} </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<script>var app = angular.module('tableapp', []);

    app.controller('filmsCtrl', ['$scope', '$http', function ($scope, $http) {

        // column to sort
        $scope.column = 'emp_name';
 
        // sort ordering (Ascending or Descending). Set true for descending
        $scope.reverse = false;

        // called on header click
        $scope.sortColumn = function(col){
            $scope.column = col;
            if($scope.reverse){
                $scope.reverse = false;
            }else{
                $scope.reverse = true; 
            }
            $scope.fetchFilms();
        };

        // Fetch data
        $scope.fetchFilms = function(){

            $http({
                method: 'post',
                url: '/api/GetAllFilms',
                data: {sortColumn:$scope.column,sortOrder:$scope.reverse}
            }).then(function successCallback(response) {
                $scope.films = response.data;
            });
        }

        $scope.fetchFilms();
    }]);
    </script>
