@model filmweb.ViewModels.HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<script rel="stylesheet" src="~/js/angular-1.1.5.js"></script>
<script rel="stylesheet" src="~/js/app.factory.js"></script>
<script rel="stylesheet" src="~/js/solo.table.js"></script>
<style type="text/css">
    .solo-table-sort-asc > .solo-column-arrow {
        position: relative;
        top: 10px;
        margin-left: 5px;
        border-color: black transparent;
        border-style: solid;
        border-width: 5px 5px 0px 5px;
        height: 0px;
        width: 0px;
    }

    .solo-table-sort-desc > .solo-column-arrow {
        position: relative;
        top: -10px;
        margin-left: 5px;
        border-color: black transparent;
        border-style: solid;
        border-width: 0px 5px 5px 5px;
        height: 0px;
        width: 0px;
    }

    .solo-table-column-cursor {
        cursor: pointer;
    }
</style>


<div class="text-center" ng-cloak>
    <h1 class="display-4">Фильмы</h1>
    <solo-table make-sortable ="3">
        <div>@Model.FilmsList</div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark table-hover text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center" sort-by="name">Название</th>
                    <th scope="col" class="text-center" sort-by="genre">Жанр</th>
                    <th scope="col" class="text-center" sort-by="produser">Режиссёр</th>
                    <th scope="col" class="text-center" sort-by="Actors">Актёры</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var film in Model.FilmsList)
                {
                    <tr onclick="window.location.href='/film/@film'; return false">

                        <th scope="row"></th>
                        <td>@film.Name</td>
                        <td>
                            @foreach (Genre genre in film.)
                            {@genre.Name}
                        </td>
                        <td>
                            @foreach (Producer producer in film.getFilmProducers())
                            {@producer.Name}
                        </td>
                        <td>
                            @foreach (Actor actor in film.getFilmActors())
                            {@actor.Name}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </solo-table>

</div>
