@model filmweb.ViewModels.FilmViewModel
@{
    ViewData["Title"] = "FilmView";
}
<style>
    .full-class {
        glyphicon; glyphicon-star;
    }
    .non-class {
        glyphicon;
        glyphicon-star-empty;
    }
</style>
<script rel="stylesheet" src="~/js/angular-1.1.5.js"></script>
@if (User.Identity.IsAuthenticated)
{
<button type="button" class="btn btn-default btn-sm pull-right" ng-click="addtofav()">
    @if (Model.favusers.Contains(User.Identity.Name))
    {
        <span ng-class="glyphicon glyphicon-star"></span>
    }
    else {
        <span ng-class="glyphicon glyphicon-star-empty"></span>
    }
</button>
}

<div>
    <h1>@Model.Id. @Model.Name</h1>
    <p>Жанры: @foreach (string genre in Model.Genres)
    {@genre;
}</p>
    <p>Режиссёры: @foreach (string producer in Model.Produsers)
    {@producer;
}</p>
    <p>Актёры:  @foreach (string actor in Model.Actors)
    {@actor;
}</p>
</div>
<div ng-app="comments" ng-controller="commntctrl">
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">With textarea</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" ng-model="text"></textarea>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addcomment()">Primary</button>
        </div>
    }
    <div>
        <div class="card">
            <div class="card-header">
                Комментарии:
            </div>
            <div ng-repeat="comment in comments" class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{comment.text}}</p>
                    <footer class="blockquote-footer">{{comment}} </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('comments', []);

    app.controller('commntctrl', ['$scope', '$http', '$filter', function (scope, http, filter) {
        http({
            method: 'get',
            url: '/api/GetComments/@Model.Id',
        }).then(function successCallback(response) {
            scope.comments = response.data;
        });
        scope.addcomment = function () {
            http({
                method: 'post',
                url: '/api/AddComment',
                data: {commenttext:scope.text, filmid:@Model.Id}
            }).then(function successCallback(response) {

            });
        }
    }]);
</script>



